---
import BentoItem from "./BentoItem.astro";
import BentoSpecialItem from "./BentoSpecialItem.astro";
---

<!-- <h1
  class="dark:text-white text-3xl md:text-4xl font-bold gap-x-4 pb-6 lg:pb-10 pt-36"
>
  Hello, I'm Noel Caparrós
</h1> -->
<section
  class="max-h-screen max-w-full px-9 grid grid-cols-10 grid-rows-10 gap-4 mx-auto p-24"
>
  <BentoItem class="col-span-6 row-span-7">
    <div
      slot="image"
      class="background transition-scale absolute bottom-0 left-0 top-0
      -z-10 h-full w-full
      bg-cover bg-center bg-no-repeat opacity-90 bg-blend-luminosity duration-1000 ease-in-out group-hover:scale-110"
      style="background-image: url('src/assets/img/noel.webp')"
    >
    </div>
  </BentoItem>
  <!-- <BentoItem class="col-span-4 row-span-2" title="Hello, I'm Noel Caparrós" /> -->

  <BentoSpecialItem
    class="col-span-4 row-span-3 backdrop-blur-sm text-center relative p-[1px]"
    title="+2 años"
    subtitle="de experiencia"
  />
  <BentoItem
    class="col-span-10 row-span-5"
    title="Sant Cugat del Vallès, "
    subtitle="Barcelona"
  />
</section>
