---
import LanguageDropdown from "./LanguageDropdown.astro";
import ThemeSwitch from "./ThemeSwitch.astro";
---

<header
  id="header-nav"
  class={`
     fixed flex justify-center items-center py-5 w-full xl:2-[1120px] mx-auto top-0 z-10
     backdrop-blur-sm
    `}
>
  <nav class="flex flex-row gap-x-10 opacity-80">
    <a class="hover:scale-110 transition" href="#top">Home</a>
    <a class="hover:scale-110 transition" href="#experience">Experience</a>
    <a class="hover:scale-110 transition" href="#about">About me</a>
    <a class="hover:scale-110 transition" href="#contact">Contact</a>

    <LanguageDropdown />
    <ThemeSwitch />
  </nav>
</header>
