---
import DropdownArrow from "../assets/icons/DropdownArrow.astro";

interface Props {
  currentLocale: string;
  translations: {
    [key: string]: any;
  };
}

const { currentLocale, translations } = Astro.props;

const selectedLanguage = {
  en: "English",
  es: "Español",
  ca: "Català",
};
---

<button
  id="dropdownDefaultButton"
  data-dropdown-toggle="dropdown"
  class="opacity-85 text-center gap-2 inline-flex items-center hover:scale-110 transition min-w-18"
  type="button"
>
  <img class="w-5 h-5" src=`src/assets/img/${currentLocale}.webp` />
  <span class="hidden lg:block"
    >{selectedLanguage[currentLocale as keyof typeof selectedLanguage]}</span
  >
  <DropdownArrow class="w-2.5 h-2.5 opacity-85" />
</button>

<!-- Dropdown menu -->
<div
  id="dropdown"
  class="z-10 hidden max-w-fit bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700"
>
  <ul
    class="text-sm text-gray-700 dark:text-gray-200"
    aria-labelledby="dropdownDefaultButton"
  >
    <li>
      <a
        href="/"
        class="flex flex-row items-center gap-2 px-4 py-2 hover:bg-gray-100 rounded-t-lg dark:hover:bg-gray-600 dark:hover:text-white"
        ><img class="w-5 h-5" src="src/assets/img/en.webp" />{
          translations.HEADER.LANGUAGE.EN
        }
      </a>
    </li>
    <li>
      <a
        href="es"
        class="flex flex-row items-center gap-2 px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
        ><img class="w-5 h-5" src="src/assets/img/es.webp" />{
          translations.HEADER.LANGUAGE.ES
        }</a
      >
    </li>
    <li>
      <a
        href="ca"
        class="flex flex-row items-center gap-2 px-4 py-2 hover:bg-gray-100 rounded-b-lg dark:hover:bg-gray-600 dark:hover:text-white"
        ><img class="w-5 h-4" src="src/assets/img/ca.webp" />{
          translations.HEADER.LANGUAGE.CA
        }
      </a>
    </li>
  </ul>
</div>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.1/flowbite.min.js"
></script>
