---
import Layout from "../layouts/Layout.astro";
import LinkedInIcon from "../assets/icons/LinkedIn.astro";
import SocialPill from "../components/SocialPill.astro";
import GithubIcon from "../assets/icons/Github.astro";
import GmailIcon from "../assets/icons/Gmail.astro";
---

<Layout
  title="Noel Caparrós - Portfolio"
  description="Hire me as a software developer. I'm specialized in web application development."
>
  <main>
    <section class="w-full mx-auto lg:w-[740px] py-44">
      <h1 class="text-white text-5xl font-bold flex flex-row gap-x-4 pb-10">
        Hello, I'm Noel Caparrós
      </h1>
      <h2 class="text-2xl text-wrap">
        <span>+2 years of experience.</span><span class="text-yellow-200/90">
          Sofwware developer</span
        >.
        <!-- TODO: Calculate from 2022 -->
        <span class="text-red-200/90"
          >Based in Sant Cugat del Vallés, Spain</span
        >. <span class="opacity-80"
          >Specialized in web application development.</span
        >
      </h2>

      <nav class="flex gap-x-4 mt-8">
        <SocialPill
          href="https://www.linkedin.com/in/noel-caparros-burgos-8a5575248/"
        >
          <LinkedInIcon class="size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="">
          <GithubIcon class="size-6" />
          Github
        </SocialPill>
        <SocialPill href="">
          <GmailIcon class="size-6" />
          noelcaparros1999@gmail.com
        </SocialPill>
      </nav>
    </section>
  </main>
</Layout>
