---
interface Props {
  class?: string;
  title?: string;
  text?: string;
}

const { text } = Astro.props;
---

<article
  class={`
  ${Astro.props.class}
  relative rounded-xl
  backdrop-blur-md
  border border-black/10
  shadow-inner shadow-white/10
  overflow-hidden
  group
`}
>
  <!-- <div
    class="absolute bottom-0 top-0 z-10 h-full w-full
    bg-gradient-to-b from-transparent from-40% via-[#151836]/50 to-[#151836]/80"
  >
  </div> -->

  <div
    class="leading-10 text-pretty opacity-85 relative z-20 flex h-full select-none flex-col justify-center gap-1 p-4 text-lg md:p-9 bg-white dark:bg-slate-950"
  >
    {
      text && (
        <h2 class="portfolio-description text-base lg:text-xl font-medium text-wrap  max-w-[700px]">
          {text}
        </h2>
      )
    }
  </div>
</article>

<style is:inline>
  .portfolio-description {
    line-height: 2.2rem;
  }
</style>
