---
import ExperienceItem from "./ExperienceItem.astro";
const i18n = Astro.props.i18n;

const EXPERIENCIE = [
  {
    date: i18n.EXPERIENCE.ROCHE.DATE,
    title: i18n.EXPERIENCE.ROCHE.TITLE,
    description: i18n.EXPERIENCE.ROCHE.DESCRIPTION,
  },
  {
    date: i18n.EXPERIENCE.APP2U.DATE,
    title: i18n.EXPERIENCE.APP2U.TITLE,
    description: i18n.EXPERIENCE.APP2U.DESCRIPTION,
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
