---
import "@fontsource/quicksand";
import Header from "../components/Header.astro";

interface Props {
  title: string;
  description: string;
  currentLocale: string;
}

const { title, currentLocale } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="src/assets/img/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="relative text-black dark:text-white">
    <div
      class="absolute top-0 bottom-0 z-[-2] min-h-screen w-full
      bg-neutral-50
      bg-[radial-gradient(100%_50%_at_50%_0%,rgba(2,134,242,0.25)_0,rgba(2,134,242,0)_50%,rgba(2,134,242,0)_100%)]
      dark:bg-neutral-950
       dark:bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
    >
    </div>
    <Header currentLocale={currentLocale} />
    <slot />
  </body>
</html>
<style is:global>
  :root {
    color-scheme: light dark;
    /* COLORS */
    --color: #9176ff;
    --dark-color: #2b2b2b;
    --dark-icon-color: #fff;
    --light-color: #f7f7f7;
    --light-icon-color: #ffde59;
  }

  html {
    font-family: "Quicksand", sans-serif;
    scroll-behavior: smooth;
  }

  body {
    background: #000;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overscroll-behavior: none;
  }

  #home {
    min-height: 100vh;
    margin-top: 2%;
    min-width: 70vw;
  }

  @keyframes blur-dark {
    to {
      box-shadow:
        0px 5px 50px -5px rgba(0, 0, 0, 0.4),
        0px 0px 0 px rgba(0, 0, 0, 0.2);
      background: rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(10px);
      font-size: 100, 200, 300, 400, 900;
    }
  }

  #header-nav {
    animation: blur-dark linear both;
    animation-timeline: scroll();
    animation-range: 0 500px;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }

  /* -------------- BUTTON -------------- */
  .btn {
    background-color: #fff;
    width: 2.4em;
    height: 1.5em;
    border-radius: 10em;
    padding: 0 0.2em;

    box-shadow:
      inset 0 8px 60px rgba(0, 0, 0, 0.1),
      inset 0 8px 8px rgba(0, 0, 0, 0.1),
      inset 0 -4px 4px rgba(0, 0, 0, 0.1);

    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .btn__indicator {
    background-color: #fff;
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;

    position: absolute;

    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);

    transition: transform 0.3s ease;
  }

  .btn__icon-container {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn__icon {
    color: var(--light-icon-color);
    font-size: 0.8rem;
  }

  /* -------------- ANIMATION ------------ */
  .btn__icon.animated {
    animation: spin 0.5s;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  /* -------------- DARKMODE -------------- */

  .darkmode .btn {
    box-shadow:
      inset 0 8px 60px rgba(0, 0, 0, 0.3),
      inset 8px 0 8px rgba(0, 0, 0, 0.3),
      inset 0 -4px 4px rgba(0, 0, 0, 0.3);
  }

  .darkmode .btn__indicator {
    transform: translateX(0.8em);
    background-color: var(--dark-color);
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.3);
  }

  .darkmode .btn__icon {
    color: var(--dark-icon-color);
  }
</style>
